.cmu {
    display: flex;
    padding: 2rem;
    gap: 2rem;
    /* space between items */


}


.cmu-title {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 3rem;
    font-weight: 300;
    text-shadow: 0 4px 20px rgba(255, 255, 255, 0.3);

}


.cmu-box {
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 25px;
    padding: 3rem 2rem;

    max-width: 2000px;
    transform: translateY(-20px);
    box-shadow: 0 20px 40px rgba(255, 255, 255, 0.1);
    animation: fadeInUp 1s ease forwards;
    position: relative;
    overflow: hidden;
    padding-top: 20px;

}



.cmu-pic-box {
    height: 90vh;
    display: grid;

    padding: 2rem;
    position: right;


}

/* tried to do animations will probably try again later */
.cmu-pic-box-design {
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(25px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 25px;
    padding: 3rem 2rem;

    max-width: 600px;
    transform: translateY(-20px);
    box-shadow: 0 20px 40px rgba(255, 255, 255, 0.1);
    animation: fadeInUp 1s ease forwards;
    position: relative;
    overflow: hidden;
    padding-top: 20px;
    object-fit: contain;



}

.cmu-pic {
    width: 300px;
    height: 300px;


    border-radius: 20px;

}